{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img class="rounded-5" src="https://marketplace.canva.com/EAE72jfknRM/2/0/1600w/canva-yellow-and-black-online-shop-business-logo-AvRZNVCTIeg.jpg"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1"><b>88 Burma</b></h4>
                  </div>
                  {% for field in form %}
                  {% for error in field.errors %}

                      <p style="color: red;">{{error}}</p>
                  {% endfor %}
                  {% endfor %}
                    <h3>Change password</h3>
                    
                    <form method="POST" >
                      {% csrf_token %}
                      <div class="form-outline mb-4">
                        <input type="text" id="form2Example11" name="old_password" class="form-control"
                          required="true"/>
                        <label class="form-label" for="form2Example11">Old Password</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" id="form2Example22" name="new_password1" class="form-control" required="true"/>
                        <label class="form-label" for="form2Example22">New Password</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" id="form2Example22" name="new_password2" class="form-control" required="true"/>
                        <label class="form-label" for="form2Example22">New Password Again</label>
                      </div>
    
    
                      <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Submit</button> <br>
                      </div>
                    </form>
  
                    

  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
        

    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
</style>
{% endblock content %}